
*{
    margin: 0;
    padding: 0;
}

.Flex-Container{
    background-color:hsl(0, 0%, 95%);
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 50vh;
    margin: 10%;
}

.Item-1{
   background-color: hsl(31, 77%, 52%);
   border-radius: 3px;
   justify-content: center; 
   align-items: center;
   font-size: 12px;
   margin-left: 20px;
   width: 15vw;
   flex-direction: column;
}

.Image{
    margin-right: 100px;
    margin-top: 15px;
    margin-left: 20px;
}

.Car-1{
    margin: 20px;
    font-size: 15px;
    font-family:inherit;
    color: hsl(0, 0%, 95%);
}

.Note{
    margin: 20px;
    font-size: 12px;
    color: hsl(0, 0%, 95%);
    font-style: inherit
}

.btn, .btn-2, .btn-3{
    background-color: hsl(31, 77%, 52%);
    margin: 20px;
    border-radius: 15px;
    margin-top: 60px;  
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    padding: 5px;
}

.Item-2{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    width: 15vw;
    flex-direction: column;
}

.Image-2{
    margin-left: 20px;
    margin-top: 15px;
}

.Car-2{
    font-size: 15px;
    margin: 20px;
    font-style: inherit;
}

.Note-2{
    color: hsl(0, 0%, 95%);
    font-size: 12px;
    margin:20px;
    font-style: inherit;
}

.btn-2{
    background-color:hsl(184, 100%, 22%);
}

.Item-3{
    background-color: hsl(179, 100%, 13%);
    width: 15vw;
    color: hsl(0, 0%, 95%);
    flex-direction: column;
    border-radius: 3px;
}

.Image-3{
    margin-top: 15px;
    margin-left: 20px;
}

.Car-3{
    font-size: 15px;
    margin: 20px;
    font-style: inherit;
}

.Note-3{
    color: hsl(0, 0%, 95%);
    font-size: 12px;
    font-style: inherit;
    margin: 20px;
}

.btn-3{
    background-color: hsl(179, 100%, 13%);
}